.Home {   
    background-color: #6da3c4;
    min-height: 100vh;
    
  }

  ._Mint{
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
 
 
 
  
  @media screen and (max-width: 720px){
    ._Mint{
      padding-top: 5rem;
    }}