.mainmint{
    width:680px; 
    height:600px;
    background-color:White;
    opacity:0.95;
    border:dashed black 5px;
    border-radius:30px;
    display: inline-block;
    align-self: center;
    overflow: scroll;
}

.words h1{
    font-size: 3rem;
}

.words h2{
    font-size: 2rem;
    line-height: 0.8rem;
}

.words h3{
    font-size: 1.5rem;
    color: #7aaa4b;
}
.words p{
    font-size: 1.2rem;
    color:#D6517D;
    padding: 0.2rem;
}



 ul{
    padding: 0.2rem;
    display: flex;
    font-family:inherit ;
    justify-content: center;
    align-items: center;


}

.mint ul li{
    margin: 0.5rem 0.5rem 0rem 0.5rem;

}


.mint button{
    font-family: inherit;
    font-size: 2rem;
  
}

input{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    width: 6rem;

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mainmint button {
 font-family: inherit;
  background-color: #fbc93e;;
  border: 2px solid #0e0900;
  border-radius: 30px;
  box-shadow: #b27316 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  user-select: none;
  min-width: 4rem;
  line-height:3rem;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainmint button:hover {
  background-color: #fff;
}

.mainmint button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.socialmedia{
    display: none;
}

.result button{
    margin-top: 0.6rem;
}
.result .words{
    line-height: 0.4rem;
}

@media screen and (max-width: 720px)  {
    .socialmedia{
        display:flex;
        justify-content: center;

    }

    .socialmedia ul li{
        margin: 0.8rem;

    }
  
    .socialmedia img{
        width: 45px;
    }
  
    .mainmint{
        width:90%; 
        height:90%;
        padding: 1rem;
        overflow: hidden;
     
    }

.words h1{
    font-size: 2rem;
}

.words h2{
    font-size: 1.5rem;
}
.words h3{
    font-size: 1.2rem;
    color: #7aaa4b;
}
.words p{
    font-size: 1rem;
    color:#D6517D;
    line-height: 0.9rem;
}


.mint ul{
    padding: 0.2rem;
    display: flex;
    font-family:inherit ;
    justify-content: center;
    align-items: center;

}

.mint ul li{
    margin: 0.5rem;

}


.mint button{
    font-family: inherit;
    font-size: 1.2rem;
  
}

input{
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 4rem;

}


.mainmint button {
    font-size: 1.2rem;
    padding: 4px;
    line-height: 2rem;
  }
  .result{
    margin-bottom: 0.7rem;
  }

  
}
