.about{
    text-align: center;
    font-family: inherit;
    background-color: #D28789;
    min-height: 100vh;
  }

.wrapper{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.a3 img{
    width: 22rem;
}
.a4{
    display: flex;
}
.a4 .container{
    padding: 0.4rem;
}
.a4 img{
    background-color: #fff;
    padding: 0.4rem;
    width: 7rem;
    border-radius: 50%;
    border: 4px dashed #D28789;
}


.a2{
    width:530px; 
    height:530px;
    background-color:White;
    border:dashed black 5px;
    border-radius:30px;
    overflow: scroll;
}


.a2 h1{
    padding: 3rem 5rem 0rem 5rem;
    color:#D28789;
    
}

.a2 h3{
    font-size: 1.2rem;
    color:rgb(67, 67, 67);
    padding:1.2rem 5rem 1.2rem 5rem;
}


.about button {
    font-family: inherit;
     background-color:#e3a4a6;
     border: 2px solid #0e0900;
     border-radius: 30px;
     box-shadow: #ab686a 4px 4px 0 0;
     color: #000000;
     cursor: pointer;
     display: inline-block;
     font-size: 1.5rem;
     line-height: 3rem;
     text-align: center;
     user-select: none;
     min-width: 4rem;
     -webkit-user-select: none;
     touch-action: manipulation;
   }
   
   .about button:hover {
     background-color: #fff;
   }
   
   .about button:active {
     box-shadow: #422800 2px 2px 0 0;
     transform: translate(2px, 2px);
   }
   

  .main-title{
    text-align: center;
    font-size:1.6rem;
    color: #fffcfc;
    text-shadow:1px 1px 3px black;
  }
  
  .content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .content .content-overlay {
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 98%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    text-transform: uppercase;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  @media screen and (max-width: 720px)  {
    .wrapper{
        padding: 0.2rem;
        flex-direction: column;
    }

    .a3 img{
        width: 30%;
    }

.a4{
    justify-content: center;
    padding-bottom: 1rem;
}
    .a4 img{
        background-color: #fff;
        padding: 0.2rem;
        width: 80%;
        border-radius: 50%;
        border: 4px dashed #D28789;
    }

    .a2{
        width:90%; 
        height:280px;
        background-color:White;
        border:dashed black 5px;
        border-radius:30px;
        align-self: center;
    }
    
  
    
    .a2 h1{
        font-size: 1.5rem;
        padding: 1rem 1rem 0rem 0rem;
        color:#D28789;
        
    }
    
    .a2 h3{
        font-size: 1rem;
        color:rgb(67, 67, 67);
        padding:0rem 2rem 1rem 2rem;
    }
    
    
    .a2 button {
         font-size: 1.2rem;
         margin-bottom: 2rem;
         line-height: 2.2rem;
       }
       
        
    
      .main-title{
        font-size:1.4rem;
        line-height: 0.6rem;
      }
      
      
      .content-details h3{
        font-size: 0.8rem;
      }

    }

 
