footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

