.roadmap{
    text-align: center;
    font-family: "Concert One", "Varela Round";
    color: black;
    background-color: #85a48c;
    min-height: 100vh;
 
  }

  .roadmap_container{
    width:820px; 
    height:580px;
    background-color:White;
    border:dashed black 5px;
    border-radius:30px;
    display: inline-block;
    align-self: center;

  }

.roadmap_container img{
    width: 100%;
    border-radius: 50px;
    padding: 1rem;
}

@media screen and (max-width: 720px) {
    .roadmap{
        padding-top: 7rem;

    }
    
    .roadmap_container{
        width:auto; 
        height:auto;
        transform: rotate(90deg);
    }
}