
.faq{
    background-color: #ecd189;
    min-height: 100vh;
    padding-bottom: 1rem;
  }
  
  .faq_container{
    width:820px; 
    height:580px;
    background-color:White;
    border:dashed black 5px;
    border-radius:30px;
    display: inline-block;
    align-self: center;
    overflow: scroll ;
    text-align: left;
    padding: 2rem;
    font-family:"Rubik";
  }

  @media screen and (max-width: 720px) {
    .faq_container{
        width:80%; 
        height:540px;
        font-size:0.8rem;
      }

      .faq{
        padding-top: 3rem;
      }
  }