.wlmint{
        padding: 3rem 1rem 3rem 1rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        background-color: aliceblue;
        width: 780px;
        display: inline-block;
        height: auto;
        border-radius: 30px;
        box-shadow: black 1px 1px 3px 1px;

}

.wlmint img{
   width: 60%;
}

.words p{
    font-size: 1.2rem;
    color:#D6517D;
    padding: 0.2rem;
}



@media screen and (max-width: 720px)  {
    
    .wlmint{
        width:90%; 
        height:90%;
        padding: 1rem;
        overflow: hidden;
     
    }

.words h1{
    font-size: 2rem;
}

.words h2{
    font-size: 1.5rem;
}

.words p{
    font-size: 1rem;
    color:#D6517D;
    line-height: 0.9rem;
}



}

